In [1]:
import pandas as pd
import csv

In [2]:
SellerName = pd.read_csv(
        '.\\20221103\\ZTrans\\SellerName.txt',
        sep='|',
        on_bad_lines='skip',
        encoding='latin-1',
        quoting=csv.QUOTE_NONE,
        header=None,
        usecols=[0, 3, 4],
        names=["TransId", "SellerIndividualFullName", "SellerNonIndividualName"],
        dtype={"TransId": "Int32", "SellerIndividualFullName": pd.StringDtype(), "SellerNonIndividualName": pd.StringDtype()})

In [3]:
print(SellerName.head)

<bound method NDFrame.head of            TransId SellerIndividualFullName     SellerNonIndividualName
0        148390440      DAVID ALLEN JOHNSON                        <NA>
1        148390441          LENNOX M MORRIS                        <NA>
2        148390442  JAMES MITCHELL WILLIAMS                        <NA>
3        148390443            HERMAN MOBLEY                        <NA>
4        148390445                     <NA>  UNITED STATES DEPARTMENT O
...            ...                      ...                         ...
5614666  578376772         PAMELA D COCHRAN                        <NA>
5614667  578376773             BEN H HELTON                        <NA>
5614668  578376774        AMANY T RODRIGUEZ                        <NA>
5614669  578376775      CHARLENE N HOLLOWAY                        <NA>
5614670  578376776    CECIL EDWARD WILLIAMS                        <NA>

[5614671 rows x 3 columns]>

In [ ]:
SellerName_mod = SellerName.fillna("NA")

In [ ]:
SellerNameInd = SellerName_mod.groupby("TransId")['SellerIndividualFullName'].agg(','.join)

In [ ]:
SellerNameNon = SellerName_mod.groupby("TransId")['SellerNonIndividualName'].agg(','.join)

In [ ]:
merged = pd.merge(SellerNameInd, SellerNameNon, how="inner", on="TransId")

In [ ]:
merged.to_csv("SellerNameAgg.csv")